## Python Crash Course

### 1. Data Types
**Points to Cover:**
- Fundamental data types in Python: `int`, `float`, `str`, `bool`, `NoneType`.
- Mutable vs Immutable data types.
- Type conversion between different data types using functions like `int()`, `float()`, `str()`, `bool()`.
- Understanding how Python automatically infers the data type of a variable.
- Checking the type of a variable using `type()`.

In [5]:
# integer
10, 12, 15, -12, -34, 0

x = 10
y = -10
z = 0

type(x), type(y), type(z)

(int, int, int)

In [14]:
pi = 3.14159
negative_value = -2.345
negative_zero = -0.0
value = 1.

value = x/1

type(pi), type(negative_value), type(negative_zero), type(value)

(float, float, float, float)

In [21]:
name = 'hello'
greeting = 'Hello, how are you?'

double_quotes = "this is double quotes"

multiline = """
this is multiline
string
hello
"""

# type(name), type(greeting), type(double_quotes)

print(multiline)

type(multiline)

this is multiline
string
hello

str

In [22]:
# boolean
# True, False
is_valid = True
flag = False

type(is_valid), type(flag)

(bool, bool)

In [25]:
# None Data type

none = None

type(none)

NoneType

In [45]:
# int -> float, float -> int, str -> int

type(float(x))

type(int(negative_value))

bool(name)
name

value = '123'

type(float(value)), float(value)

value = '123.0'

int(float(value))

123

In [46]:
# mutable and immutable data types

In [66]:
# [] -> list, () -< tuple

numbers = [1,2,3,4] # mutable
numbers[0] = 12
type(numbers), numbers

tup = (1,2,3,4) # immutable
# tup[0] = 12

print(name[0], name[1], name[2], name[3], name[4])

# name[0] = 'c'

h e l l o

### 2. String Assignment
**Points to Cover:**
- How to assign strings to variables using quotes (`'` or `"`).
- Concatenation and repetition of strings using `+` and `*` operators.
- String indexing and slicing.
- Common string methods: `len()`, `upper()`, `lower()`, `strip()`, `replace()`.
- Formatting strings using f-strings or `format()` method.

In [68]:
name = "hello"
hello = 'world!'
something = '''
something like 
this
'''

In [84]:
hello_world = ":-> " + name + " " + hello + "-+"

print(hello_world)
type(hello_world)

:-> hello world!-+

str

In [85]:
len(hello_world)

18

In [86]:
hello_world[0], hello_world[-1]

(':', '+')

In [92]:
hello_world[:3], hello_world[-3:], hello_world[:-3], hello_world[3:9]

(':->', '!-+', ':-> hello world', ' hello')

In [95]:
"simple "*3

'simple simple simple '

In [114]:
# String Methods

# len, upper, lower, strip, replace

hello_world.upper()

"Upper".lower()

x = "SoMe fOrmAt"
x.lower()

x.upper()

x.title()

x = "  hello   "
# print(x.strip())

len(x), len(x.strip())

hello_world.strip('+')

':-> hello world!-'

In [128]:
# String formatting

hello = "!{} world!".format("hello")

print(hello)

name = f"hello-> {hello}"
name

age = 30
name = "KGP Talkie"
message = f"Hello {name}. You have become {age} years old!"
message

message = f"""Hello {name}.
You have become {age} years old!
"""

print()
print(message)

!hello world!

Hello KGP Talkie.
You have become 30 years old!

### 3. List
**Points to Cover:**
- Lists are ordered, mutable collections of items.
- Creating lists with square brackets `[]` and accessing elements by index.
- List methods: `append()`, `remove()`, `pop()`, `sort()`, `reverse()`.
- Slicing lists and list comprehensions.
- Nested lists and multidimensional lists.

In [133]:
fruits = ['apple', 'banana', 'cherry']

len(fruits)

fruits[0], fruits[1], fruits[2]#, fruits[3]

('apple', 'banana', 'cherry')

In [135]:
fruits.append("orange")

In [137]:
fruits.remove('apple')

In [139]:
fruits
fruits[0], fruits[1], fruits[2]#, fruits[3]

('banana', 'cherry', 'orange')

In [141]:
fruits[-1]

'orange'

In [142]:
fruits.pop()

'orange'

In [144]:
fruits.pop(0)

'banana'

In [147]:
fruits

fruits = ['banana', 'apple', 'cherry']

fruits.sort()

In [149]:
fruits.reverse()

In [150]:
fruits

['cherry', 'banana', 'apple']

In [152]:
fruits = ['banana', 'apple', 'cherry', 'orange', 'mango']

In [159]:
fruits[:2]
fruits[-2:]
fruits[:-2]
fruits[1:]
fruits[1:3]

['apple', 'cherry']

In [167]:
# nested list

fruits 

nested_fruits = [['banana', 'papaya'], ['apple', 'mango']]

len(fruits), len(nested_fruits)

nested_fruits[0], nested_fruits[1]

nested_fruits[0][0], nested_fruits[0][1], nested_fruits[1][0]

('banana', 'papaya', 'apple')

In [169]:
fruits.extend(nested_fruits)

In [171]:
print(fruits)

['banana', 'apple', 'cherry', 'orange', 'mango', ['banana', 'papaya'], ['apple', 'mango']]

In [172]:
any_list = ['string', 12, 23.4, False]
any_list

['string', 12, 23.4, False]

In [173]:
anything = fruits + any_list

In [174]:
print(anything)

['banana', 'apple', 'cherry', 'orange', 'mango', ['banana', 'papaya'], ['apple', 'mango'], 'string', 12, 23.4, False]


### 4. Set
**Points to Cover:**
- Sets are unordered collections of unique elements.
- Creating sets with curly braces `{}` or the `set()` function.
- Adding and removing elements using `add()` and `remove()`.
- Set operations: union (`|`), intersection (`&`), difference (`-`), symmetric difference (`^`).
- Converting lists to sets to remove duplicates.

In [ ]:
# [] <- list, () <- tuple, {} <- dict, set

In [183]:
list_numbers = [1,2,3,4,5,1,2,3]
numbers = set([1,2,3,4,5,1,2,3])
list_numbers

numbers.add(14)

In [185]:
numbers.remove(3)

In [192]:
A = {1, 2, 3, 4}
B = {2, 4, 5, 6}

union = A | B
intersection = A & B
difference = A - B
B_A = B - A

sym_diff = A ^ B 

sym_diff, union-intersection

({1, 3, 5, 6}, {1, 3, 5, 6})

In [196]:
list_numbers = [1, 2, 3, 'one', 'two', 1.2, 1, 2]

numbers = set(list_numbers)

numbers

{1, 1.2, 2, 3, 'one', 'two'}

In [197]:
list(numbers)

[1, 2, 3, 1.2, 'two', 'one']

In [207]:
manual_set = {'set', 'one', 1, 2.3}
manual_set

{1, 2.3, 'one', 'set'}

### 5. Tuple
**Points to Cover:**
- Tuples are ordered, immutable collections of items.
- Creating tuples using parentheses `()` and accessing elements by index.
- Unpacking tuples into variables.
- Tuples are often used for fixed collections of items.
- Advantages of tuples over lists (e.g., immutability and performance).

In [215]:
person = ("Bob", 25, "Engineer")

len(person)

tuple_numbers = tuple(list_numbers)

In [217]:
type(tuple_numbers), type(list_numbers)

(tuple, list)

In [220]:
tuple_numbers[3], tuple_numbers[4]

('one', 'two')

In [225]:
x = (tuple_numbers, person)
x[1]

('Bob', 25, 'Engineer')

In [227]:
x = tuple_numbers[3], tuple_numbers[4]  # packing

In [231]:
y,z = x # unpacking

### 6. Dictionary
**Points to Cover:**
- Dictionaries are collections of key-value pairs.
- Creating dictionaries with curly braces `{}` and accessing values by keys.
- Adding, updating, and removing key-value pairs.
- Iterating over dictionaries with `keys()`, `values()`, and `items()`.
- Nested dictionaries for more complex data structures.

In [235]:
# key:value
person = {'name': 'Bob', 'age': 25, 'job': 'Engineer'}

type(person)

dict

In [238]:
person['age'] = 26
person['age'] = person['age'] + 1

In [242]:
del person['job']

In [244]:
person.pop('age')

27

In [246]:
person['job'] = "Doctor"

In [249]:
person.keys(), person.values()

(dict_keys(['name', 'job']), dict_values(['Bob', 'Doctor']))

In [252]:
keys = list(person)
values = list(person.values())

keys, values

(['name', 'job'], ['Bob', 'Doctor'])

In [254]:
dict(zip(keys, values))

{'name': 'Bob', 'job': 'Doctor'}

In [256]:
person.items()

dict_items([('name', 'Bob'), ('job', 'Doctor')])

In [258]:
temp = {'age': 30, 'job': 'Data Scientist'}

person.update(temp)

person

{'name': 'Bob', 'job': 'Data Scientist', 'age': 30}

### 7. Boolean and Comparison Operators
**Points to Cover:**
- Boolean values `True` and `False`.
- Comparison operators: `==`, `!=`, `>`, `<`, `>=`, `<=`.
- Using boolean expressions in conditional statements.
- Combining comparisons using `and`, `or`, `not`.
- Understanding truthy and falsy values in Python.

In [259]:
is_active = True
is_admin = False

is_active==is_admin

False

In [270]:
5==5
5==4
5>4
5<4
5<=4
5>=4
4>=4

1.0==1
'string'=='string'

True

In [273]:
# logical operator
# and, or, not

(5>3) and (4>3)

True and True, True and False, False and False, False and True

(True, False, False, False)

In [274]:
True or True, True or False, False or False, False or True

(True, True, False, True)

In [276]:
not True, not False

(False, True)

In [293]:
if "none":
    print("This is true")


# Truthy values -> something which is present
# Falsy -> something which is empty or not present

if None:
    print('this is none')

if []:
    print('this is empty list')

if "":
    print('this is empty string')

condition = {""}
condition = [[]]
condition = 0
condition = False #True
condition = 5==5

if condition:
    print('this is truthy condition')

This is true
this is truthy condition

### 8. If, Else, Elif
**Points to Cover:**
- Basic structure of `if` statements.
- Using `else` and `elif` for multiple conditions.
- Nesting `if` statements for more complex logic.
- Using conditional expressions (`ternary operator`).
- Practical examples in decision-making scenarios.

In [299]:
age = 17

if age>= 18:
    print('You are an adult')

print("Your if condition is executed!")

if age>= 18:
    print('You are an adult')
else:
    print('You are not an adult')

Your if condition is executed!
You are not an adult

In [303]:
# >=90 -> A, 80-90->B, 70-80->C

marks = 70
if marks>=90:
    print("Grade: A")
elif marks>=80:
    print('Grade: B')
elif marks>=70:
    print('Grade: C')
else:
    print('F')

Grade: C

In [308]:
marks = 95
subject = 'math'

# subject = 'english'

if marks>=90:
    if subject == 'math':
        print('Grade: Excellent!')
    else:
        print('Grade: Good!')

Grade: Excellent!

In [311]:
# ternary operator

age = 18
status = 'Adult' if age>=18 else 'Not an Adult'
status

'Adult'

### 9. Loops in Python
**Points to Cover:**
- `for` loops for iterating over sequences (lists, strings, etc.).
- `while` loops for repeating until a condition is met.
- Using `break`, `continue`, and `pass` in loops.
- Nested loops for more complex iterations.
- Looping with `range()` for numerical sequences.

In [316]:
fruits

['banana',
 'apple',
 'cherry',
 'orange',
 'mango',
 ['banana', 'papaya'],
 ['apple', 'mango']]

In [315]:
for fruit in fruits:
    print(fruit)

banana
apple
cherry
orange
mango
['banana', 'papaya']
['apple', 'mango']

In [321]:
# for x in list(hello_world):
#     print(x)

for x in name:
    print(x)

K
G
P

T
a
l
k
i
e

In [322]:
hello

'!hello world!'

In [325]:
# while loop

# print(len(hello))

index = 0
while (index<len(hello)):
    print(f"index: {index} =>> Char: {hello[index]}")

    index = index + 1

index: 0 =>> Char: !
index: 1 =>> Char: h
index: 2 =>> Char: e
index: 3 =>> Char: l
index: 4 =>> Char: l
index: 5 =>> Char: o
index: 6 =>> Char:
index: 7 =>> Char: w
index: 8 =>> Char: o
index: 9 =>> Char: r
index: 10 =>> Char: l
index: 11 =>> Char: d
index: 12 =>> Char: !

In [328]:
for x in name:
    # stop at x==space
    if x == ' ':
        break

    print(x)

K
G
P

In [330]:
index = 0
while (index<len(hello)):
    if hello[index] == ' ':
        break
    
    print(f"index: {index} =>> Char: {hello[index]}")

    index = index + 1

index: 0 =>> Char: !
index: 1 =>> Char: h
index: 2 =>> Char: e
index: 3 =>> Char: l
index: 4 =>> Char: l
index: 5 =>> Char: o

In [334]:
print(name)
for x in name:
    if x.lower() in 'kti':
        print(x)

KGP Talkie
K
T
k
i

In [336]:
print(name)
for x in name:
    if x == ' ':
        continue

    print(x)

KGP Talkie
K
G
P
T
a
l
k
i
e

In [338]:
index = 0
while (index<len(hello)):
    if hello[index] == ' ':
        index = index + 1
        continue
    
    print(f"index: {index} =>> Char: {hello[index]}")

    index = index + 1

index: 0 =>> Char: !
index: 1 =>> Char: h
index: 2 =>> Char: e
index: 3 =>> Char: l
index: 4 =>> Char: l
index: 5 =>> Char: o
index: 7 =>> Char: w
index: 8 =>> Char: o
index: 9 =>> Char: r
index: 10 =>> Char: l
index: 11 =>> Char: d
index: 12 =>> Char: !

In [351]:
# range -> create range between given numbers start:end

list(range(5))
list(range(2,10))

list(range(2, 10, 2))

temp_list = []
for x in list(range(2, 100, 2)):
    temp_list.append(x/10)

print(temp_list)

[0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 4.2, 4.4, 4.6, 4.8, 5.0, 5.2, 5.4, 5.6, 5.8, 6.0, 6.2, 6.4, 6.6, 6.8, 7.0, 7.2, 7.4, 7.6, 7.8, 8.0, 8.2, 8.4, 8.6, 8.8, 9.0, 9.2, 9.4, 9.6, 9.8]

In [355]:
# find those which are not divisible by 3

non_div3 = []
for x in range(100):
    if x % 3 != 0:
        non_div3.append(x)

print(non_div3)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98]

In [357]:
for item in person.items():
    print(item)

('name', 'Bob')
('job', 'Data Scientist')
('age', 30)

In [358]:
for k,v in person.items():
    print(f"key: {k} || value: {v}")

key: name || value: Bob
key: job || value: Data Scientist
key: age || value: 30


### 10. Methods and Lambda Functions
**Points to Cover:**
- Defining functions using `def` and understanding return values.
- Understanding parameters and arguments, including default arguments.
- Using lambda functions for small, anonymous functions.
- Higher-order functions like `map()`, `filter()`, and `sorted()` with lambda functions.
- Scope and lifetime of variables in functions.

In [362]:
def sqaure_number(x):
    return x**2

sqaure_number(22)

484

In [364]:
def greet(name):
    return f"Hello {name}!!!"

greet('Bob'), greet('KGP Talkie')

('Hello Bob!!!', 'Hello KGP Talkie!!!')

In [370]:
def outer_function():
    outer_var = 'outer function'

    def inner_function():
        inner_var = 'inner function'

        print(outer_var)
        print(inner_var)

    inner_function()
    print(outer_var)
    # print(inner_var)


outer_function()

outer function
inner function
outer function

In [373]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [377]:
sqaure_number(numbers[3])

9

In [378]:
sqaures = list(map(lambda x: x**2, numbers))
sqaures

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [379]:
evens = list(filter(lambda x: x%2==0, sqaures))
evens

[0, 4, 16, 36, 64]

In [ ]:
[1, 0, 1, 0, 1, 0]

In [387]:
fruits = ['orange', 'banana','mango','apple', 'cherry']
print(sorted(fruits))

sorted(fruits, key=lambda x: x[2], reverse=True)

['apple', 'banana', 'cherry', 'mango', 'orange']

['apple', 'banana', 'mango', 'cherry', 'orange']

### 11. Exception Handling
**Points to Cover:**
- Understanding exceptions and errors.
- Using `try`, `except`, `else`, and `finally` blocks.
- Raising exceptions using `raise`.
- Creating custom exceptions.
- Best practices for error handling.

In [395]:
y = 0.1 # 0
x = 1/y # could be anything

if y != 0:
    x = 1/y

# sqaure_number('12')

try:
    result = 1/0
except:
    print("You can't divide by zero")



try:
    result = 1/0
except Exception as e:
    print("You can't divide by zero")

    print(e)
    # raise(e)

You can't divide by zero
You can't divide by zero
division by zero

In [402]:
# try, except, else, finally
try:
    number = int('12.5')
except ValueError:
    print("That's not a valid number")
    # raise(ValueError)

else:
    print(f"Your number is {number}")

finally:
    print("I run always")

That's not a valid number
I run always

### 12. Comprehensions
**Points to Cover:**
- List comprehensions for concise looping and filtering.
- Dictionary comprehensions for creating dictionaries.
- Set comprehensions for creating sets.
- Nested comprehensions for complex scenarios.

In [403]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [411]:
for x in numbers:
    y = x**2

sqaures = [x**2 for x in numbers]
sqaures

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [409]:
[x for x in numbers if x%2==0]

[0, 2, 4, 6, 8]

In [410]:
[x**2 for x in numbers if (x**2)%2==0]

[0, 4, 16, 36, 64]

In [414]:
# {1:1, 2:4, 3:9, 4:16}


{x:x**2 for x in numbers}, dict(zip(numbers, sqaures))

({0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81},
 {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81})

In [416]:
fruits = fruits + [['item1', 'item2']]

In [417]:
fruits

['orange', 'banana', 'mango', 'apple', 'cherry', ['item1', 'item2']]

In [422]:
[x for item in fruits for x in (item if type(item)==list else [item])]

['orange', 'banana', 'mango', 'apple', 'cherry', 'item1', 'item2']

### 13. Modules and Packages
**Points to Cover:**
- Importing standard and third-party modules.
- Creating and using custom modules.
- Understanding the Python Package Index (PyPI).
- Installing packages using `pip`.
- Using `__name__ == '__main__'` for script execution.

In [ ]:
# !pip install requests

In [424]:
import math

math.pow(7, 2)

49.0

In [425]:
from math import pi

In [426]:
pi

3.141592653589793

In [1]:
import module

In [2]:
module.sqaure(3)

9

In [3]:
module.greet('KGP Talkie')

'Hello KGP Talkie!!!!!!!!!'

In [1]:
from scripts import module2

This module2 script is being imported

In [5]:
module2.greet('KGP Talkie')

'Hello KGP Talkie#######'

### 14. Working with Dates and Times
**Points to Cover:**
- Using `datetime` module for handling dates and times.
- Formatting and parsing dates with `strftime` and `strptime`.
- Performing arithmetic operations on dates and times.
- Handling time zones with `pytz`.

In [2]:
from datetime import datetime, timedelta

In [14]:
datetime.now()

datetime.datetime(2024, 8, 13, 21, 52, 6, 445688)

In [15]:
str(datetime.now())

'2024-08-13 21:52:21.004439'

In [21]:
now = datetime.now()

now.strftime("%Y-%m-%d, %H:%M:%S")

'2024-08-13, 21:54:02'

In [24]:
date_str = "2024-08-10"
datetime.strptime(date_str, "%Y-%m-%d")

datetime.datetime(2024, 8, 10, 0, 0)

In [29]:
now - timedelta(days=2)

datetime.datetime(2024, 8, 11, 21, 54, 2, 787580)

In [30]:
import pytz

In [35]:
# for tz in pytz.all_timezones:
#     print(tz)

datetime.now(tz=pytz.utc)

datetime.datetime(2024, 8, 13, 16, 30, 0, 672847, tzinfo=<UTC>)

In [38]:
now.astimezone(pytz.timezone("Europe/Lisbon"))

datetime.datetime(2024, 8, 13, 17, 24, 2, 787580, tzinfo=<DstTzInfo 'Europe/Lisbon' WEST+1:00:00 DST>)